<article class="panel panel-default" [ngStyle]="">
    <!-- <input type="text" [(ngModel)]="message.content"> -->
    <!-- ngModel is how Angular's two-way binding is used. I have set this input to control the content of the 'Message' component, and its attribute: content.  -->
    <div class="panel-body">
        {{ message.content }}
    </div>
    <footer class="panel-footer">
        <div class="author">
            {{ message.username }}
        </div>
        <div class="config">
            <a (click)="onEdit()">Edit</a> <!-- Binding an event handler is quick with Angular.  ' (click)="myHandlerFunction" '  Is all you need.  -->
            <a (click)="onDelete()">Delete</a>
        </div>
    </footer>
</article>
